table {
    direction: rtl;    
    border-collapse: collapse;
    width: 100%;
}

th {
    background: linear-gradient(#fff, #d3d3d3);
}
td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color:#f6f6f6;
}